@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.fill-image {
    object-fit: cover;
    width: 100%;
}

.anime-card-img {
    width: 100%;
    object-fit: cover;
    transition: 0.3s ease all;
    border-radius: 7px 7px 0px 0px;
}

.anime-card-img:hover {
    scale: 105%;
    border-radius: 5px;
}

.anime-card-img2 {
    width: 100%;
    object-fit: cover;
    transition: 0.3s ease all;
    border-radius: 7px;
    filter: grayscale(60%);
}

.anime-card-img2:hover {
    zoom: 105%;
    border-radius: 5px;
    filter: grayscale(0%)
}

.detail-image {
    min-width: 150px;
}


.custom-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: 
        radial-gradient(farthest-side,#0085ff 94%,#0000) top/8px 8px no-repeat,
        conic-gradient(#0000 30%,#0085ff);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
}

.justify-content-center {
    justify-content: center;
}

@keyframes s3{ 
    100%{transform: rotate(1turn)}
}